.header, .footer {
    background-color: #000000;
    padding: 10px;
    color: #0048fd;
    height: 150px;
    border-color: white;    
  }
  
  .sidebar {
    background-color: #e9ecef;    
    padding: 10px;
    margin-block: 5px;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0048fd;
    padding: 1rem;
    color: white;
  }

  main {
    display: flex;
    height: 600px;
    padding: 10px;
    margin: 5px;
  }

  header, footer {
    text-align: center;
  }
  